.App {
  text-align: center;
  
}
.chkoutbtn{
  background-color: #000000;
}
body {
  margin: 0;
  padding: 0;
  background-image: url('https://i.pinimg.com/originals/11/f3/99/11f3999285c063ce311ce146ffe8b576.jpg');
  background-size: fit;
}

.glassy-text {
  font-family: system-ui, sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 20px;
  line-height: 2;
  color: #494848;
  text-shadow: 1px 1px #000000;
  margin-top: 250px;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 5px rgba (0, 0, 0, 0.3);
  position: center;
}

.form{
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-shrink: 3;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
